body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* styles.css */
body {
  margin: 0;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  perspective: 1000px; /* Perspective for 3D effect */
}

.image-wrapper {
  position: absolute;
  width: 200px; /* Width of your image */
  height: auto;
  transform-style: preserve-3d;
}

#draggable-image {
  width: 100%;
  height: auto;
  transform: rotateX(0deg) rotateY(0deg); /* Initial rotation */
  cursor: grab;
  transition: transform 0.2s ease-in-out; /* Smooth transition for rotation */
}

#draggable-image:active {
  cursor: grabbing;
}


#cityNameTooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: none;
  pointer-events: none; /* Ensures that the tooltip doesn't interfere with mouse events */
  font-size: 12px;
}

/* Leaderboard.css */
.leaderboard-container {
  position: fixed;
  top: 80px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 8px;
  max-width: 200px;
  z-index: 1000;
  height: 80%;
  overflow: auto;
  display: block; /* Default to visible */
}

.leaderboard-container.hidden {
  display: none; /* Hide the leaderboard */
}

.leaderboard-container h3 {
  margin-top: 0;
  text-align: center;
}

.leaderboard-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.leaderboard-container li {
  margin: 8px 0;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .leaderboard-container {
    top: 80px;
    right: 10px;
    max-width: 150px;
  }

  .leaderboard-container li {
    font-size: 12px;
  }
}

/* Toggle button styles */
.leaderboard-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1001;
}


/*Chat*/
.chat-container {
  position: fixed; /* Fix it at the bottom-left of the viewport */
  bottom: 100px;
  left: 0;
  width: 300px; /* Adjust width as needed */
  height: 70%; /* Adjust height as needed */
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.chat-container.hidden {
  display: none; /* Hide the chat container */
}

.messages {
  flex: 1;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
}

.input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.input-area input {
  flex: 1;
  padding: 5px;
}

.input-area button {
  padding: 5px 10px;
  margin-left: 10px;
}

.chat-toggle {
  position: fixed; 
  bottom: 20px;
  left: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; 
}

@media screen and (max-width: 768px) {

}
